ARCH?=xtensa
TARGET?=esp32s3
SIGN?=ED25519
HASH?=SHA256
DEBUG?=0
DEBUG_UART?=0
VTOR?=0
NO_ASM?=0
EXT_FLASH?=1
SPI_FLASH?=0
QSPI_FLASH?=1
ALLOW_DOWNGRADE?=1
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=1
V?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
WOLFBOOT_PARTITION_SIZE?=0x1B0000
WOLFBOOT_SECTOR_SIZE?=0x1000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x20000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x1d0000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x380000
